.navigation {
  list-style: none;
  margin: 0; 
  
  background: deepskyblue;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

.wrapper { /* The container */
	display: flex;
	flex-flow: row wrap;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.wrapper > * { /* This will give every item a width of '100%' */
	padding: 1px;
	flex: 1 100%;
}

.header {
	background: tomato;
}

.footer {
	background: lightgreen;
}

.main {
	text-align: left;
	background: deepskyblue;
}

.aside-left {
	background: yellow;
}

.aside-right {
	background: hotpink;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }

	.main { flex 3 0%; }
	.aside-left { order: 1; }
	.main { order: 2; }
	.aside-right { order: 3; }
	.footer { order: 4; }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
