@import url('https://fonts.googleapis.com/css?family=Quicksand');

body{
	background-color: lightgrey;
}

.navigation {
  list-style: none;
  margin: 0; 
  
  background: #1b222d;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.navigation a:hover {
  background: darken(deepskyblue, 2%);
}

.wrapper { /* The container */
	display: flex;
	flex-wrap: wrap;
	/* background: #1b222d; */
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}

.internalwrapper { /* The container */
	display: flex;
	flex-wrap: wrap;
	background: #1b222d;
	font-weight: bold;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}

.banner {
	font-family: 'Quicksand', sans-serif;
	font-size: 120px;
	color: white;
	text-align: left;
	padding-bottom: 10px;
	/* background: white; */
}

.wrapper > * { /* This will give every item a width of '100%' */
	padding: 30px;
	flex: 1 100%;
}

/*
.internalwrapper > * {
	flex: 1 100px;
}
*/

.header {
	font-family: 'Quicksand', sans-serif;
	font-size: 60px;
	color: white;
	text-align: left;
}

.footer {
	background: #1b222d;
}

.main {
	font-family: 'Quicksand', sans-serif;
	text-align: left;
	color: white;
	background: #1b222d;
}

/* Table done in class */

h3 {
	color: white;
}

article {
   	order:2;
   	display: flex;
   	flex-direction: column;
	color: white;
	background: #1b222d;
}

article > div {
	border: 1px #1b222d;
	display: flex;
}


article > div:nth-child(2) {
	color: #1b222d;
	font-weight: bold;
}

article > div:nth-child(2n) {
	color: #1b222d;
	background-color: lightgrey;
}

article > div > div {
	justify-content: center;
}

article > div > div:nth-child(1) {
	font-family: monospace;
	flex: 1; /* what happens as we adjust these proportions? */
}

article > div > div:nth-child(2) {
	font-family: 'Quicksand', sans-serif;
	/* font-style: italic; */
	flex: 2; /* what happens as we adjust these proportions? */
}

article > div > div:nth-child(3) {
	font-family: monospace;
	flex: 2; /* what happens as we adjust these proportions? */
}




@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }

	.main { flex: 3 0%; }
	.aside-left {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
	}
	.main { order: 2; }
	.aside-right {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
	}
	.footer { order: 4; }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .aside { flex: 1 auto; }
}
